    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(45deg, #8395a7, #e5e6e6);
        display: flex;
    }
    
    .rishav {
        color: red;
        visibility: hidden;
    }
    
    .firsthalf {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
    }
    
    .bluebox h2 {
        color: #1e272e;
        font-weight: 300;
        font-size: 5vh;
        margin-bottom: 5vh;
    }
    
    .formdesign {
        color: aliceblue;
        margin: 2vh;
        font-size: large;
    }
    
    .formdesign input {
        padding: 0.5vw 1.5vw;
        /* border-radius: 20px; */
    }
    
    .formdesign select {
        padding: 0.5vw 2.8vw;
        /* border-radius: 20px; */
    }
    
    .formdesign button {
        padding: 0.5vw 1.9vw;
        border-radius: 5px;
        background: linear-gradient(45deg, #fdfdfdee, black);
        color: white;
    }
    
    .special1 {
        display: flex;
        /* justify-content: center; */
    }
    
    .secondhalf {
        width: 60vw;
        display: flex;
        align-items: center;
        /* background-color: black; */
    }
    
    .whitebox {
        height: 80vh;
        width: 58vw;
        /* background-color: rgba(255, 255, 255, 0); */
        border-radius: 500px 0px 0px 500px;
        display: flex;
    }
    
    .whitebox form {
        margin-top: 1vh;
        /* background-color: aquamarine; */
        margin-left: 13vw;
        /* display: flex;
    justify-content: center; */
    }
    
    .two {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
    }
    
    .fvedy input {
        /* border-radius: 10px; */
        padding: 0.5vw 1.5vw;
    }
    
    .fvedy button {
        border-radius: 5px;
        padding: 0.5vw 1.5vw;
        background: linear-gradient(45deg, #e9e9e9, black);
        color: white;
    }
    
    .fvedy select {
        padding: 0.5vw 2.8vw;
    }
    
    .secondhalf form {
        padding: 0vw 5vw;
    }
    
    .le {
        margin-right: 2vw;
    }
    
    .error {
        visibility: hidden;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }