.rishav {
    color: red;
    visibility: hidden;
}

.contain {
    width: 40vw;
    margin-left: 3vw;
}

.formdesign {
    color: aliceblue;
    margin: 2vh;
    font-size: large;
}

.formdesign input {
    padding: 0.5vw 1.5vw;
    border-radius: 20px;
}

.formdesign select {
    padding: 0.5vw 2.8vw;
    border-radius: 20px;
}

.formdesign button {
    padding: 0.5vw 1.9vw;
    border-radius: 20px;
}

.special1 {
    display: flex;
    justify-content: center;
}


/* .secondhalf{
    width:40vw;
    display: flex;
    align-items: center;
    /* background-color: black; */

.whitebox form {
    margin-top: 1vh;
    /* background-color: aquamarine; */
    margin-left: 13vw;
    /* display: flex;
    justify-content: center; */
}

.two {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.fvedy input {
    border-radius: 0px;
    padding: 0.5vw 1.5vw;
}

.fvedy button {
    border-radius: 0px;
    padding: 0.5vw 1.5vw;
    background: linear-gradient(45deg, rgb(233, 233, 233), black);
    color: white;
}

.fvedy select {
    border-radius: 0px;
    padding: 0.5vw 2.8vw;
}

.secondhalf form {
    padding: 0vw 5vw;
}

.le {
    margin-right: 2vw;
}

.ledate {
    /* margin-right: 3.5vw;
    margin-left: 2vw; */
    margin-right: 2vw;
}

.ledate input {
    padding: 0.5vw 3vw;
}

.error {
    visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}